<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>For any concerns, please call at our numbers:</li>
		<ul>
			<li>+91 8604964221</li>
			<li>+91 6393706686</li>
			<li>+91 9310949234</li>
		</ul>
		<li>You can also visit our offices and to get insights of how our agents serve food at different places.</li>
		<ul>
			<li>Beta 2, Greater Noida</li>
		</ul>
		<li>You can also email your suggestions and feedback at <mark>csaiml22171@glbitm.ac.in</mark></li>
	</ul>
</div>